body {
    font-family: "Old Standard TT";
    margin: 0;
    padding: 0;
    background-color: #f2f1e3;
    font-weight: 400; 
}

header {
    text-align: center;
    margin: 0 auto;
    color: #000;
}

h1 {
    font-size: 62px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-family: "Crimson Text", serif;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: normal;
    margin: 0;
}
.header-image {
    width: 100%; 
    height: 500px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
}
.menu {
    text-align: right; 
    color: #000;
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
} 

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: flex-end; /* Aligne les éléments à droite */
    margin-right: 40px;
}

.menu li {
    font-style: normal;
}

/* Styles des liens du menu */
.menu a {
    text-decoration: none;
    color: #0c0c0c;
    transition: transform 0.2s ease, border-bottom 0.2s ease;
    position: relative;
}

.menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0b0b0b;
    transition: width 0.3s ease;
    margin-top: 5px;
}

/* Effets de survol */
.menu a:hover {
    transform: scale(2.2); /* Agrandit légèrement le texte */
}

.menu a:hover::after {
    width: 100%; /* Souligne le texte */
}
section {
    text-align: center;
    font-family: "Old Standard TT", serif;
    font-size: 18px;
    color: #000;
}

.title {
    font-size: 50px;
    font-family: Crimson Text;
    font-weight: 400; 
    word-wrap: break-word;
    border: 1px solid #000;
    display: inline-block;
    padding: 10px 20px;
}

.information p {
    margin: 15px 0;
    font-family: Crimson Text;
    font-size: 30px;
}

.exposition .grid-container {
    grid-template-rows: repeat(1, 1fr); 
    grid-template-columns: repeat(4, 1fr);
}

.galerie .grid-container{
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(3, 1fr)
}


.expo-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-family: "Old Standard TT", serif;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.expo-btn:hover {
    background-color: #000;
    color: #fff;
}
.grid-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px; 
    box-sizing: border-box;
}

.grid-item {
    background: transparent;
    text-align: center;
}

.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.exposition .grid-item .name {
        font-size: 40px;
}

.exposition .grid-item .place {
    font-size: 35px;
    font-family: Crimson Text;
} 

.grid-item {
    text-align: left;
}

.galerie .grid-item {
    font-size: 35px;
}

.center-container {
    margin: 20px auto;
    text-align: center;
}

.galerie-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid  #000;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Old Standard TT"; 
}

.galerie-btn:hover {
    background-color: #000;
    color: #fff;
}